<app-navbar/>

<div class="bg-url text-white">
    <div class="bg-b h-100 d-flex align-items-end">
        <div class="container py-3 ">
            <div class="col-9  pb-0">
                <p class="para">FOR ANY ENQUIRES, JUST TO SAY HELLO, GET IN
                    TOUCH AND
                    CONTACT US</p>

            </div>
            <h1 class="bebas">CONTACT US</h1>
        </div>
    </div>
</div>
<div class="container py-3 text-start">

    <div class="row">
        <div class="col-6 mb-2">
            <p class="text-secondary span mb-2">New Project</p>
            <p class="para text-black mb-1">Thulane Mfeketho</p>
            <p class="para text-black">mfekethothulane&#64;nejeni.com</p>

        </div>
        <div class="col-6 mb-2 text-end">
            <p class="text-secondary span mb-2">General Inquiries</p>
            <p class="para text-black mb-1">info&#64;nejeni.com</p>
            <p class="para text-black mb-1"> (0) 21 905 7338</p>

        </div>

        <div class="col-6 mb-2">
            <p class="text-secondary span mb-2">Address</p>
            <p class="para text-black">6 Heath Circle, <br> Blackheath,
                Cape Town, 7581</p>

        </div>
        <div class="col-6 mb-2 text-end ">
            <p class="text-secondary span mb-2">Follow us</p>
            <div class="d-flex justify-content-end">
                <a href class="link para text-black me-2">Tw</a>
                <a href class="link para text-black me-2">Fb</a>
                <a href class="link para text-black me-2">Ins </a>

            </div>

        </div>
    </div>
    <div class="form">
        <div class="mb-4">
            <label for="exampleFormControlInput1" class="form-label para">Full Name</label>
            <input type="text" class="form-control bor border-black py-2"
                id="exampleFormControlInput1" placeholder="John Smart ">
        </div>
        <div class="mb-4">
            <label for="exampleFormControlInput1" class="form-label para">Email
                address</label>
            <input type="email" class="form-control bor border-black"
                id="exampleFormControlInput1" placeholder="john@gmail.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label para">Your Message</label>
            <textarea class="form-control bor border-black" placeholder="Type your inquiry, feedback, or booking request..." id="exampleFormControlTextarea1"
                rows="3"></textarea>
        </div>
        <button type="button" class="btn bg-main bor w-100 text-white py-2"> SEND MESSAGE</button>
    </div>
</div>