.btn {
  border-radius: 0px !important;
}
.bg-url {
  background-image: url("https://www.nejeni.co.za/assets/images/project/nejeni-project-completed-29.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  background-color: #333333;
}
.bg-main{
  background-color: orangered;
}
.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 45px;
  line-height: 35px;
}
.bg-b {
  background-color: rgb(0, 0, 0, 0.5);
}
.para {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
}
.bor{
  border-radius: 0px !important;
}
input, textarea::placeholder{
  color: black;

}
.span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
