<app-navbar id="section" />
<div class="bg-url">
    <div class="bg-b h-100 d-flex justify-content-start align-items-end">
        <div class="col-6">
            <div
                class="container bebas-1 d-flex  h-0 ">
                <p class="text-white">PRECISION. <br> INNOVATION. <br>
                    WORKMANSHIP.</p>

            </div>
        </div>

    </div>

</div>
<div class="container pt-3">
    <div
        class="d-flex align-items-center mb-2  gap-2 text-warning fw-semibold">
        <div
            class="d-flex d-flex  align-items-center gap-2 w-100 text-warning fw-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" class="ro" width="17"
                height="17"
                viewBox="0 0 24 24" fill="currentColor"
                style="color: orangered;">
                <path d="M2,2 L14,2 L2,14 Z M10,22 L22,22 L22,10 Z" />
            </svg>
            <p class="text-or mb-0 ">WHERE IDEAS TAKE SOILD FORM</p>
        </div>
    </div>
    <div
        class=" bebas-1 d-flex  h-0 ">
        <p class="text-black">ENSURING A BETTER SOUTH AFRICA </p>

    </div>
    <p class="text-black para mb-0">With decades of experience in civil
        engineering,
        residential, commercial, and industrial sectors, we turn infrastructure
        needs into dynamic realities. Founded in 2000, Nejeni has grown into a
        highly reliable and quality-focused contractor through bold decisions,
        creative thinking, and a commitment to service excellence.</p>
    <div class="row pt-3">
        <div class="col-6">
            <div class="bg-navy pt-3 mb-2 container text-white box-s">
                <div class="h-50">
                    <p class="text p para">ACTIVE PROJECTS NATIONWIDE</p>
                </div>
                <div class="h-50 d-flex align-items-end">
                    <div
                        class=" bebas d-flex  ">
                        <p class="number mb-0">50+ </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="bg-light pt-3 container mb-2 text-black box-s">
                <div class="h-50">
                    <p class="text  p para">CLIENT SATIFSATION RATE BUILT ON
                        TRUST</p>
                </div>
                <div class="h-50 d-flex align-items-end">
                    <div
                        class=" bebas d-flex  ">
                        <p class="number mb-0">99.5% </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="bg-main pt-3 container text-white box-s">
                <div class="h-50">
                    <p class="text p para">ENGIENEER DRIVING EVERY PROJECT</p>
                </div>
                <div class="h-50 d-flex align-items-end">
                    <div
                        class=" bebas d-flex  ">
                        <p class="number mb-0">100+ </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="box-s img-new">
            </div>

        </div>
    </div>
</div>
<div class="container my-3">

    <div
        class="d-flex align-items-center gap-2 text-warning fw-semibold">
        <div
            class="d-flex d-flex  align-items-center gap-2 w-60 text-warning fw-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" class="ro" width="17"
                height="17"
                viewBox="0 0 24 24" fill="currentColor"
                style="color: orangered;">
                <path d="M2,2 L14,2 L2,14 Z M10,22 L22,22 L22,10 Z" />
            </svg>
            <p class="text-or mb-0">OUR PARTNERS</p>
        </div>
        <div class="line w-100"></div>
    </div>
    <div class="row ">
        <div class="col-6 col-lg-3 d-flex align-items-center">
            <img src="https://i.postimg.cc/qqM3Q6mT/sa-construction-group.png"
                alt class="w-100">
        </div>
        <div class="col-6 col-lg-3 d-flex align-items-center">
            <img
                src="https://i.postimg.cc/zfZH6cd2/umdla-civils-and-plumbing.png"
                alt class="w-100">
        </div>
        <div class="col-6 col-lg-3 d-flex align-items-center">
            <img src="https://i.postimg.cc/hG1vwPQL/ufp-consultants.png" alt
                class="w-100">
        </div>
        <div class="col-6 col-lg-3 d-flex align-items-center">
            <img src="https://i.postimg.cc/RZr0ZncH/cmt.png" alt class="w-100">
        </div>
    </div>
</div>
<div class="bg-navy  py-3">
    <div class="container">
        <div
            class="d-flex align-items-center gap-2 text-warning fw-semibold">
            <div
                class="d-flex d-flex  align-items-center gap-2 mb-2 w-60 text-warning fw-semibold">
                <svg xmlns="http://www.w3.org/2000/svg" class="ro" width="17"
                    height="17"
                    viewBox="0 0 24 24" fill="currentColor"
                    style="color: orangered;">
                    <path d="M2,2 L14,2 L2,14 Z M10,22 L22,22 L22,10 Z" />
                </svg>
                <p class="text-or mb-0">FROM DESIGN TO DELIVERY</p>
            </div>
        </div>
    </div>
    <div
        class="container bebas-1 d-flex  h-0 ">
        <p class="text-white">COMPREHENSIVE SOLUTIONS <br> FOR EVERY PROJECT
        </p>

    </div>
    <div class="d-fle ">
        <div class="d-flex ">
            <img src="https://www.nejeni.co.za/assets/images/blog.jpg" alt
                class="w-100">
        </div>
        <div class="container  py-2">
            <div class="row">
                <div class="col-4">
                    <p class="text-or text-center mb-0">WHY US</p>
                    <div class="border-top bor"></div>

                </div>
                <div class="col-4">
                    <p class="text-secondary text-center mb-0">BENEFITS</p>

                </div>

                <div class="col-4">
                    <p class="text-secondary text-center mb-0">VISION</p>

                </div>
            </div>
            <div class="py-3 pb-0">
                <h1 class="text-white bebas">HIGHEST GRADING, UNCOMPROMISED
                    QUALITY.
                </h1>
                <p class="text-white para mb-0">Beyond standard pipeline
                    and civil works, they are registered for specialized tasks
                    like
                    asbestos handling and are industry leaders in trenchless
                    rehabilitation (innovative tech like Spirally Wound Piping
                    and
                    pipe cracking that replaces underground infrastructure
                    without
                    ripping up roads).</p>
            </div>

        </div>
    </div>

</div>
<div class="container py-3">
    <div
        class="d-flex align-items-center gap-2 text-warning fw-semibold">
        <div
            class="d-flex d-flex  align-items-center gap-2 mb-2 w-60 text-warning fw-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" class="ro" width="17"
                height="17"
                viewBox="0 0 24 24" fill="currentColor"
                style="color: orangered;">
                <path d="M2,2 L14,2 L2,14 Z M10,22 L22,22 L22,10 Z" />
            </svg>
            <p class="text-or mb-0">OUR LEADERSHIP & EXPERTS</p>
        </div>
    </div>
    <div
        class="container bebas-1 d-flex  h-0 ">
        <p class="text-black ">STRONG FOUNDATIONS. <br> STRONG TEAM</p>

    </div>
    <div class="container">
        <div class="bg-img w-100">

        </div>
        <div class="py-3">
            <p class="text-secondary mb-2 span">founder of company</p>
            <h1 class="text-black bebas">THULANE MFEKETHO</h1>

        </div>
    </div>

    <!-- 
<img src="https://i.postimg.cc/VkGXXpbT/download.jpg" alt class="w-100 mb-3">
<div class="container d-flex justify-content-between align-items-center">
    <h1 class="header-text mb-0">NEW IN</h1>
    <div class="d-flex">
        <div class="border bg-secondary text-white p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-chevron-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
            </svg>
        </div>
        <div class="border p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-chevron-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
            </svg>
        </div>
    </div>
</div>
<div class="d-flex my-2 over w-100">
    <div class="col-9">
        <img
            src="https://i.postimg.cc/1z6mHVj1/W-NK-SWIFT-DF-FZ-MDLYR-DSRPT.avif"
            alt class="w-100 mb-2">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p class="text-m">Nike Air Max 95 x LEGO® Collection</p>

                </div>
                <div class="col-6">
                    <p class="text-m text-end text-secondary">R 9,000.00</p>

                </div>
            </div>
            <div class="d-flex">
                <div class="p-2 bg-dark rounded-circle"></div>

            </div>

        </div>

    </div>
    <div class="col-9">
        <img
            src="https://i.postimg.cc/sgT6NTbk/AIR-MAX-95-x-LEGO-Col-SE-GS.avif"
            alt class="w-100">
    </div>
</div> -->