.text-or {
  color: orangered;
  font-size: 15px;
}
.span {
  font-size: 15px;
}
.para {
font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100
}
.box-s{
height: 165px;
width: 165px;
}
.p{
  font-size: 14px;
}
.number{
font-size: 45px;
}
.underline {
  text-decoration: underline;
}
.bg-url {
  background-image: url("https://www.nejeni.co.za/assets/images/about-banner2.jpg");
  height: 250px;
  background-repeat: no-repeat;
  background-position: start;
  background-size: cover;
  background-color: #333333;
}
.bg-img {
  background-image: url("https://i.postimg.cc/TYsgQjKX/477970935-1168417618622839-2091920488066747341-n.jpg");
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #333333;
}
.bor {
  border: orangered 1px solid !important;
}
.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bg-navy {
  background-color: #0e3346;
}
.w-60 {
  width: 80%;
  color: orangered;
}
.line {
  border: 1px solid orangered;
}
.ro {
  transform: rotate(85deg);
}
.bg-b {
  background-color: rgb(0, 0, 0, 0.5);
}
.bebas-1 {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 35px;
  line-height: 35px;
}
.bg-main{
  background-color: orangered;
}
.img-new{
  background-image: url("https://www.nejeni.co.za/assets/images/project/nejeni-project-completed-25.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #333333;
}
.btn{
  border-radius: 0px !important;
}