img{
  height: 45px;
}
.container-img{
  background-color: orangered;
}
.all{
  height: 65px;
}
.text-or{
  color: orangered;
}
.cardmain{
background-color: #0E3346;
}
.bebas-1{
 font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}
.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}