<app-navbar class />
<div class="over-hidden pt-2 h-0">
    <p class="build mb-0">OUR VISION, OUR BUILD</p>
    <div class="container ">
        <div class="w-100  mb-3">
            <div
                class="d-flex align-items-center w-100 gap-2 text-warning fw-semibold">
                <div
                    class="d-flex d-flex  align-items-center gap-2 w-60 text-warning fw-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ro"
                        width="17"
                        height="17"
                        viewBox="0 0 24 24" fill="currentColor"
                        style="color: orangered;">
                        <path d="M2,2 L14,2 L2,14 Z M10,22 L22,22 L22,10 Z" />
                    </svg>
                    <p class="text-or mb-0">PROOF IN EVERY PROJECTS</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <h2 class="text bebas">Explore projects that inspire living.</h2>
</div>
