<app-navbar />
<div class="bg-url">
    <div class="bg-b h-100 d-flex justify-content-start align-items-end">
        <div class="col-6">
            <div
                class="container bebas-1 d-flex  h-0 ">
                <p class="text-white">PRECISION. <br> INNOVATION. <br>
                    WORKMANSHIP.</p>

            </div>
        </div>

    </div>

</div>
<div class="container py-3">
    <div
        class="d-flex align-items-center gap-2 text-warning fw-semibold">
        <div
            class="d-flex d-flex  align-items-center gap-2 w-60 text-warning fw-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" class="ro" width="17"
                height="17"
                viewBox="0 0 24 24" fill="currentColor" style="color: #f26f21;">
                <path d="M2,2 L14,2 L2,14 Z M10,22 L22,22 L22,10 Z" />
            </svg>
            <p class="text-or mb-0">OUR PARTNERS</p>
        </div>
        <div class="line w-100"></div>
    </div>
    <div class="row py-3">
        <div class="col-6">
            <img src="https://i.postimg.cc/qqM3Q6mT/sa-construction-group.png" alt="" class="w-100">
        </div>
        <div class="col-6">
            <img src="https://i.postimg.cc/zfZH6cd2/umdla-civils-and-plumbing.png" alt="" class="w-100">
        </div>
        <div class="col-6">
            <img src="https://i.postimg.cc/hG1vwPQL/ufp-consultants.png" alt="" class="w-100">
        </div>
        <div class="col-6">
            <img src="https://i.postimg.cc/RZr0ZncH/cmt.png" alt="" class="w-100">
        </div>
    </div>
</div>
<!-- 
<img src="https://i.postimg.cc/VkGXXpbT/download.jpg" alt class="w-100 mb-3">
<div class="container d-flex justify-content-between align-items-center">
    <h1 class="header-text mb-0">NEW IN</h1>
    <div class="d-flex">
        <div class="border bg-secondary text-white p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-chevron-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
            </svg>
        </div>
        <div class="border p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-chevron-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
            </svg>
        </div>
    </div>
</div>
<div class="d-flex my-2 over w-100">
    <div class="col-9">
        <img
            src="https://i.postimg.cc/1z6mHVj1/W-NK-SWIFT-DF-FZ-MDLYR-DSRPT.avif"
            alt class="w-100 mb-2">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p class="text-m">Nike Air Max 95 x LEGO® Collection</p>

                </div>
                <div class="col-6">
                    <p class="text-m text-end text-secondary">R 9,000.00</p>

                </div>
            </div>
            <div class="d-flex">
                <div class="p-2 bg-dark rounded-circle"></div>

            </div>

        </div>

    </div>
    <div class="col-9">
        <img
            src="https://i.postimg.cc/sgT6NTbk/AIR-MAX-95-x-LEGO-Col-SE-GS.avif"
            alt class="w-100">
    </div>
</div> -->