<app-navbar class />
<div class="over-hidden pt-2 h-0">
    <p class="build mb-0">OUR VISION, OUR BUILD</p>
    <div class="container ">
        <div class="w-100  mb-3">
            <div
                class="d-flex align-items-center w-100 gap-2 text-warning fw-semibold">
                <div
                    class="d-flex d-flex  align-items-center gap-2 w-60 text-warning fw-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ro"
                        width="17"
                        height="17"
                        viewBox="0 0 24 24" fill="currentColor"
                        style="color: orangered;">
                        <path d="M2,2 L14,2 L2,14 Z M10,22 L22,22 L22,10 Z" />
                    </svg>
                    <p class="text-or mb-0">PROOF IN EVERY PROJECTS</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container my-2">
    <div class="contain">
        <h2 class="text bebas-1">Explore projects that in progress</h2>
        <!-- <div class="box-s img-new"></div> -->
        <div class="py-2">
            <img
                src="https://www.nejeni.co.za/assets/images/project/nejeni-project-6.jpg"
                alt class="w-100 rounded">
        </div>
        <h1 class="text-main bebas">Laying of New Sewer Mains</h1>
        <div class="d-flex align-items-center justify-content-">
            <div class="p-2 me-2  bg-main text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="22"
                    height="22"
                    fill="currentColor" class="bi bi-arrow-right"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg>
            </div>
            <p class="span bebas me-2 mb-0">VIEW PROJECTS</p>

        </div>
    </div>
    <div class="py-3">

        <img
            src="https://www.nejeni.co.za/assets/images/side-img2.jpg"
            alt class="w-100">

    </div>
    <div class="pt-0 ">
        <h5
            class="text-secomdary bebas">"Working with Noema Studio was seamless from start to finish. Their team not only delivered outstanding design but also guided us through every step of the process with professionalism."</h5>
        <div class="row py-2">
            <div class="col">
                <h1 class="bebas text-secondary mb-0">THULANE MFEKETHO</h1>
                <p class="text-black span mb-0">Company client</p>
            </div>
            <div class="col-4 d-flex align-items-end">
                <div class=" ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="52"
                        height="52"
                        fill="currentColor"
                        class="bi p-3 bg-secondary text-white cur border bi-arrow-left"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                    </svg>
                </div>
                <div class=" ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="52"
                        height="52"
                        fill="currentColor"
                        class="bi p-3 border cur bi-arrow-right"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex">
        <div class="col-6">
            <div class="avatar-stack">
                <!-- <img src="avatar1.jpg" alt="User 1" class="avatar"> -->
                <div class="add-btn bg-dark">T</div>
                <img
                    src="https://i.postimg.cc/TYsgQjKX/477970935-1168417618622839-2091920488066747341-n.jpg"
                    alt="User 3" class="avatar">

                <div class="add-btn bg-info">S</div>
                <button class="add-btn">+</button>
            </div>
        </div>
        <div class="col-6">
            <p class="span bebas">200+ HAPPY <br> CLIENTS</p>
        </div>
    </div>
    <div class="contain mt-3">
        <h2 class="text bebas-1">Our Finished Construction</h2>
        <!-- <div class="box-s img-new"></div> -->
        <div class="py-2">
            <img
                src="https://www.nejeni.co.za/assets/images/project/nejeni-project-6.jpg"
                alt class="w-100 rounded">
        </div>
        <h1 class="text-main bebas">Laying of New Sewer Mains</h1>
        <div class="d-flex align-items-center justify-content-">
            <div class="p-2 me-2  bg-main text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="22"
                    height="22"
                    fill="currentColor" class="bi bi-arrow-right"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg>
            </div>
            <p class="span bebas me-2 mb-0">VIEW PROJECTS</p>

        </div>
    </div>
</div>
