.bold {
  font-weight: bold;
}
.pic {
  width: 43px;
  height: 43px;
}
.text {
  font-size: 20px;
  font-weight: bold;
}
.top-shadow {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}
.span {
  font-size: 15px;
}
.bor {
  border-radius: 30px;
  height: 8px;
}
.bg-s {
  background-color: #f7f7f7 !important;
}
.bor-o {
  border-radius: 20px 20px 00px 00px;
}
.bg-linar {
  background: linear-gradient(
    45deg,
    rgb(23, 0, 128),
    rgb(0, 132, 255)
  ); /* Gradient at a 45-degree angle */
  border-radius: 10px;
}
.w-70 {
  width: 80%;
}
.span {
  font-size: 16px;
}
.semi-white {
  background-color: rgba(255, 255, 255, 0.5); /* 50% opaque white */
}
.h-10 {
  height: 5px;
}
.progress {
  background-color: #cbcbcb !important;
}
