.build {
  /* font-family: "Impact", "Arial Black", sans-serif; */
  font-family: "Bebas Neue", sans-serif;

  font-size: 60px;
  font-weight: 400;
  letter-spacing: 1px;
  color: transparent;
  -webkit-text-stroke: 1px #cccccc;
  text-shadow: none;
  text-transform: uppercase;
  position: relative;
  left: -8px;
  width: 150%;
  height:55px;
  z-index: -1;
}
.over-hidden {
  overflow: hidden;
}
.ro {
  transform: rotate(85deg);
}
.text-or {
  color: orangered;
  font-size: 15px;
}
.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 35px;
  z-index: 1;
}
