<!-- <router-outlet></router-outlet> -->
<div class="con ">

    <div class="con"
        *ngFor="let day of getWeekDays(currentDate); let i = index">
        <div class="container  main pt-2 colour-0" *ngIf="i === 0">
            <h1 class="text">{{day| date:"cccc"|uppercase}}</h1>
            <p class="text-s">{{day|date:"MMMM d, y"}}</p>
        </div>
        <div class="container other  d-flex align-items-center colour-{{i}}" *ngIf="i !== 0">
            <h1 class="font mb-0">{{day| date:"cccc"|uppercase}}</h1>
        </div>
    </div>
</div>
<div class="fixed-bottom container d-flex justify-content-end pb-5 pe-4">
    <button type="button" class="btn btn-primary rounded-circle">+</button>
</div>