.container-logo {
  width: 150px;
}
.header-text {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
}
.over {
  overflow: scroll;
}
.text-m {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
