<!-- <router-outlet></router-outlet> -->
<div class="d-flex">
    <div class="col-2 py-4 container">
        <div class="d-flex justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                fill="currentColor" class="bi bg-dark text-white p-2 rounded bi-columns-gap"
                viewBox="0 0 16 16">
                <path
                    d="M6 1v3H1V1zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm14 12v3h-5v-3zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM6 8v7H1V8zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zm14-6v7h-5V1zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z" />
            </svg>
        </div>

    </div>
    <div class="con col">

        <div class="con"
            *ngFor="let day of getWeekDays(currentDate); let i = index">
            <div class="container  main pt-2 colour-0" *ngIf="i === 0">
                <h1 class="text">{{day| date:"cccc"|uppercase}}</h1>
                <p class="text-s">{{day|date:"MMMM d, y"}}</p>
            </div>
            <div class="container other  d-flex align-items-center colour-{{i}}"
                *ngIf="i !== 0">
                <h1 class="font mb-0">{{day| date:"cccc"|uppercase}}</h1>
            </div>
        </div>
    </div>
    <div class="fixed-bottom container d-flex justify-content-end pb-5 pe-4">
        <button type="button" class="btn btn-primary rounded-circle">+</button>
    </div>
</div>
