<div class="bg-s container  py-3">
    <div class="d-flex justify-content-between align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg"
            class="p-1 rounded-circle border" width="44" height="44"
            viewBox="0 0 16 16"><path fill="currentColor"
                d="M11.75 5.75c0-.82-.68-1.5-1.5-1.5s-1.5.68-1.5 1.5s.68 1.5 1.5 1.5s1.5-.68 1.5-1.5m0 4.5c0-.82-.68-1.5-1.5-1.5s-1.5.68-1.5 1.5s.68 1.5 1.5 1.5s1.5-.68 1.5-1.5m-4.5-4.5c0-.82-.68-1.5-1.5-1.5s-1.5.68-1.5 1.5s.68 1.5 1.5 1.5s1.5-.68 1.5-1.5m0 4.5c0-.82-.68-1.5-1.5-1.5s-1.5.68-1.5 1.5s.68 1.5 1.5 1.5s1.5-.68 1.5-1.5" />
        </svg>
        <div class="d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44"
                fill="currentColor"
                class="bi p-2 border me-3 rounded-circle bi-bell"
                viewBox="0 0 16 16">
                <path
                    d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.137 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.137 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6" />
            </svg>
            <div
                class="pic bg-danger text-white d-flex align-items-center  justify-content-center rounded-circle">
                <span class="text">T</span>
            </div>
        </div>
    </div>

    <div class="py-4 pb-1">
        <h1>Hello, Thulane</h1>
        <p class="text-secondary mb-2">Your toady's task almost done!</p>
    </div>
    <div class="contain">
        <div class="d-flex align-items-end justify-content-between">
            <span class="text-secondary span">Progress</span>
            <h4 class="mb-0">80%</h4>
        </div>
        <div class="w-100 d-flex py-2">
            <div class="progress bor w-100 me-1" role="progressbar"
                aria-label="Basic example"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bor" style="width: 100%"></div>
            </div>
            <div class="progress bor w-100 me-1" role="progressbar"
                aria-label="Basic example"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bor" style="width: 100%"></div>
            </div>
            <div class="progress bor w-100 me-1" role="progressbar"
                aria-label="Basic example"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="70">
                <div class="progress-bar bor" style="width: 60%"></div>
            </div>
        </div>
    </div>
</div>
<div class="bg-s">
    <div class="bor-o bg-white py-3 container">
        f
    </div>
</div>

<div
    class="fixed-bottom container bg-white d-flex justify-content-between py-3 text-secondary  top-shadow">
    <div class="icon">
        <div class="d-flex text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37"
                viewBox="0 0 24 24"><path fill="currentColor"
                    fill-rule="evenodd"
                    d="M2.52 7.823C2 8.77 2 9.915 2 12.203v1.522c0 3.9 0 5.851 1.172 7.063S6.229 22 10 22h4c3.771 0 5.657 0 6.828-1.212S22 17.626 22 13.725v-1.521c0-2.289 0-3.433-.52-4.381c-.518-.949-1.467-1.537-3.364-2.715l-2-1.241C14.111 2.622 13.108 2 12 2s-2.11.622-4.116 1.867l-2 1.241C3.987 6.286 3.038 6.874 2.519 7.823M11.25 18a.75.75 0 0 0 1.5 0v-3a.75.75 0 0 0-1.5 0z"
                    clip-rule="evenodd" />
            </svg>
        </div>
        <div class="d-flex justify-content-center">
            <div class="p-1 mt-1 rounded-circle bg-primary"></div>

        </div>

    </div>
    <div class="icon">

        <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37"
            viewBox="0 0 24 24"><path fill="currentColor"
                d="M7.75 2.5a.75.75 0 0 0-1.5 0v1.58c-1.44.115-2.384.397-3.078 1.092c-.695.694-.977 1.639-1.093 3.078h19.842c-.116-1.44-.398-2.384-1.093-3.078c-.694-.695-1.639-.977-3.078-1.093V2.5a.75.75 0 0 0-1.5 0v1.513C15.585 4 14.839 4 14 4h-4c-.839 0-1.585 0-2.25.013z" /><path
                fill="currentColor" fill-rule="evenodd"
                d="M2 12c0-.839 0-1.585.013-2.25h19.974C22 10.415 22 11.161 22 12v2c0 3.771 0 5.657-1.172 6.828S17.771 22 14 22h-4c-3.771 0-5.657 0-6.828-1.172S2 17.771 2 14zm15 2a1 1 0 1 0 0-2a1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2a1 1 0 0 0 0 2m-4-5a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0 4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-6-3a1 1 0 1 0 0-2a1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2a1 1 0 0 0 0 2"
                clip-rule="evenodd" />
        </svg>
        <div class="d-flex justify-content-center">
            <div class="p-1 mt-1 rounded-circle"></div>

        </div>
    </div>
    <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37"
            viewBox="0 0 24 24"><path fill="currentColor"
                d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2M9 17H7v-7h2zm4 0h-2V7h2zm4 0h-2v-4h2z" />
        </svg>
        <div class="d-flex justify-content-center">
            <div class="p-1 mt-1 rounded-circle"></div>

        </div>
    </div>
    <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="text-primary" width="37"
            height="37"
            viewBox="0 0 24 24"><path fill="currentColor"
                d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2m5 11h-4v4h-2v-4H7v-2h4V7h2v4h4z" />
        </svg>
    </div>
</div>