<div class="container py-3 pb-5">
    <div class="d-flex justify-content-between align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38"
            fill="currentColor"
            class="bi p-2 border rounded-circle bi-chevron-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
        </svg>
        <span class="text">Add New Task</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38"
            fill="currentColor"
            class="bi p-2 border rounded-circle bi-three-dots"
            viewBox="0 0 16 16">
            <path
                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
        </svg>
    </div>

</div>
<div class="container">
    <p class="span text-secondary mb-1">Title</p>
    <div class="border p-1 round mb-3 d-flex align-items-center">
        <input type="text" class="form-control border-0 round">
        <svg xmlns="http://www.w3.org/2000/svg" class="mx-2" width="24"
            height="24"
            viewBox="0 0 24 24"><path fill="currentColor"
                d="M6.414 15.89L16.556 5.748l-1.414-1.414L5 14.476v1.414zm.829 2H3v-4.243L14.435 2.212a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414zM3 19.89h18v2H3z" />
        </svg>

    </div>
    <p class="span text-secondary mb-2">Type</p>

    <select class="form-select py-3 round">
        <option>Team</option>
        <option>One Person </option>
    </select>
    <div class="d-flex justify-content-end align-items-center py-4 pb-0">
        <button
            class="btn-primary btn bg text-primary d-flex align-items-center">
            <p class="yexy mb-0 me-1">Invite People</p>
            <svg
                xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg></button>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <p class="span text-secondary mb-2 ">Start Date</p>

            <input type="date" class='date enchilada'>

        </div>
        <div class="col-6">
            <p class="span text-secondary mb-2 ">Due Date</p>

            <input type="date" class="p-2 py-3 w-100 border"
                value="{{currentDate | date: 'shortDate' }}
" min="2025-01-01">
        </div>
    </div>

</div>